{% extends 'blog/base.html' %}

{% block header %}

{% load static %}

<header class="masthead" style="background-image: url({% static 'blog/assets/img/about-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Acerca de mí.</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block main_content %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p> Mi nombre es Franco Scaffidi, tengo 21 años, estudio ingeniería en Petróleos en la Facultad de ingeniería de la Universidad Nacional de Cuyo y este es mi primer contacto por la programación  .</p>
                <p> Esta web fue creada utilizando los conocimientos adquiridos en el curso de programación en Python de <a href="https://www.coderhouse.com/">Coderhouse.</a> </p>
                <p> Para su implementación, se utilizó además el framework de Django y plantillas de Bootstrap.</p>
            </div>
        </div>
    </div>
</article>

{% endblock main_content %}